#balloonDarts{
  background: url("/images/backgrounds/field.png");
}

img.speechBubbles{
  background: url("/images/characters/BalloonDartsSpeechBubbles.png") 0 0;
  width: 300px;
  height: 200px;
}

.speechNext{
 background: url("/images/buttons/next.png") 0 0; 
 width: 171px;
 height: 139px;
 display:block;
 float: left;
}

.speechBack{
 background: url("/images/buttons/back.png") 0 0;
 width: 171px;
 height: 139px;
 display: block;
}

#scoreboard{
  height: 200px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 300px;
  overflow: scroll;
}

#pegboardeasy{
  background: url("/images/backgrounds/pegboard_easy.png") no-repeat;
  background-size: 800px;
  height: 460px;
  width: 800px;
}

#pegboardhard{
  background: url("/images/backgrounds/pegboard_hard.png") no-repeat;
}

#total{
  height: 60px;
  width: 300px;
  background-color: #000;
  color: #fff;
  font-size: 40pt;
  text-align: right;
}

#controlpaneleasy{
  background: url("../images/backgrounds/controlpanel_easy.png") no-repeat;
  height: 800px;
}

#controlpanelhard{
  background: url("../images/backgrounds/controlpanel_hard.png") no-repeat;
  height: 800px;
}

#modules{
  position: relative;
  top: 195px;
  left: 553px;
  width: 150px;
  padding: 0px;
  margin: 0px;
}

#modules li{
  list-style: none;
  padding: 8px;
}

#controlpanelhard #modules li{
  padding: 0px;
}

.tryitbutton {
  background: url("../images/buttons/try_it.png") no-repeat;
  width: 183px;
  height: 100px;
  display: block;
  position: absolute;
  top: 550px;
  left: 500px;
  
}

.fixitbutton {
  background: url("/images/buttons/fix_it.png") no-repeat;
  width: 183px;
  height: 100px;
  display: block;
  position: absolute;
}