/* General */

.gamePiece {
  position: absolute;
}

#pageContainer {
  position: relative;
}

/* Score */
#scoreContainer {
  position: absolute;
  top: 145px;
  left: 40px;
  z-index: 110;
  text-align: right;
  width: 310px;
}

/* Game board */

#gameBoardTop {
  top: 50px;
  left: -40px;
  z-index: 100;
}

#gameBoardMiddle {
  top: 598px;
  left: -34px;
  z-index: 300;
}

#gameBoardBottom {
  top: 774px;
  left: -38px;
  z-index: 500;
}

/* Mallet */

.mallet {
  top: 30px;
  left: 1300px;
  z-index: 100;
}

.topRowMole {
  z-index: 200;
}

.bottomRowMole {
  z-index: 400;
}

.topRowWhack {
  top: -190px;
  z-index: 210;
}

.bottomRowWhack {
  top: -30px;
  z-index: 410;
}

.mallet0 {
  left: 140px;
}

.mallet1 {
  left: 410px;
}

.mallet2 {
  left: 610px;
}

.mallet3 {
  left: 890px;
}

.mallet4 {
  left: 1090px;
}

.malletRotated {
  -webkit-transition: .3s;
  -webkit-transform: rotate(-90deg);
}

/* Moles */

.topRowMoleOut {
  top: 253px;
}

.topRowMoleIn {
  top: 628px;
}

.bottomRowMoleOut {
  top: 433px;
}

.bottomRowMoleIn {
  top: 828px;
}

.mole {
}

#mole1 {
  left: 110px;
}

#mole2 {
  left: 380px;
}

#mole3 {
  left: 580px;
}

#mole4 {
  left: 855px;
}

#mole5 {
  left: 1045px;
}

#introMole{
  position: absolute;
  left: 1700px;
  top: 500px;
}

img{
	zoom: .95;
}