/* General */

.gamePiece {
  position: absolute;
}

#pageContainer {
  position: relative;
}

/* Game board */

#gameBoardTop {
  top: 400px;
  left: 100px;
  z-index: 100;
}

#gameBoardMiddle {
  top: 514px;
  left: 100px;
  z-index: 300;
}

#gameBoardBottom {
  top: 580px;
  left: 100px;
  z-index: 500
}

/* Mallet */

.mallet {
  top: 50px;
  left: 1100px;
  z-index: 100;
}

.topRowMole {
  z-index: 200;
}

.bottomRowMole {
  z-index: 400;
}

.topRowWhack {
  top: -20px;
  z-index: 150;
}

.bottomRowWhack {
  top: 70px;
  z-index: 350;
}

.mallet0 {
  left: 360px;
}

.mallet1 {
  left: 530px;
}

.mallet2 {
  left: 690px;
}

.mallet3 {
  left: 890px;
}

.mallet4 {
  left: 1030px;
}

.malletRotated {
  -webkit-transition: .5s;
  -webkit-transform: rotate(-90deg);
}

/* Moles */

.topRowMoleOut {
  top: 260px;
}

.topRowMoleIn {
  top: 520px;
}

.bottomRowMoleOut {
  top: 330px;
}

.bottomRowMoleIn {
  top: 590px;
}

.mole {
}

#mole1 {
  left: 270px;
}

#mole2 {
  left: 460px;
}

#mole3 {
  left: 620px;
}

#mole4 {
  left: 820px;
}

#mole5 {
  left: 955px;
}